/* file: * */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent: #1b5eb6;

  --bg-theme: #000;
  --bg: #000;

  --fg: #fff;
}


* {
  transition:
    color 0.3s,
    background-color 0.3s !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--fg);

  font-family: "Inter", sans-serif;

  padding: 0;
  margin: 0;
}

/* components */
/* .theme_switch {
  position: absolute;
  right: 2vw;
  top: 2vh;

  color: #fff !important;

  font-size: 1.3em;
  cursor: pointer;
} */

.prefoot {
  padding: 5em;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.prefoot > h1 {
  font-size: clamp(3rem, 4vw, 4rem);
  text-decoration: underline solid;
}

.prefoot > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: clamp(1.5rem, 3vw, 2.5rem);

  display: flex;
  align-items: center;
  gap: 1em;
  position: relative;
}

.prefoot > a::after {
  content: "";
  position: absolute;
  bottom: -0.3em;

  background: rgba(255, 255, 255, 0.8);

  width: 0;
  height: 2px;

  transition: width 0.3s;
}

.prefoot > a:hover::after {
  width: 100%;
}

.prefoot:has(a:hover) {
  background: rgba(107, 176, 255, 0.7);
}
