/* file: * */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

@view-transition {
  navigation: auto;
}

body {
  background: #000;
  color: #fff;

  font-family: "Inter", sans-serif;

  padding: 0;
  margin: 0;
}

/* underlined link */
a.underlined {
  position: relative;
  width: fit-content;
}

a.underlined::after {
  content: "";
  position: absolute;
  bottom: -0.3em;
  left: 0;

  background: #fff;

  width: 0;
  height: 2px;

  transition-duration: 0.3s;
}

a.underlined:hover::after {
  width: 100%;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  gap: 7dvw;

  width: max-content;
  max-width: 85dvw;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: 1em auto;
  padding: 1.5em 2.5em;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1em;

  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  font-size: clamp(0.9rem, 1.2vw, 1.1rem);

  z-index: 100;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 1.3em;

  list-style-type: none;

  margin: 0;
  padding: 0;
}

nav > ul > div {
  display: flex;
  align-items: flex-end;
  gap: 0.7em;
}

nav > ul a {
  color: rgb(255, 255, 255);
  text-decoration: none;

  filter: brightness(1);
  transition: filter 0.3s;
}

nav > ul > li:not(.current) > a {
  color: rgb(170, 170, 170);
}

nav > ul a:hover {
  filter: brightness(0.8);
}

nav > ul > div > span:nth-child(3) {
  font-size: 0.8em;
  color: rgb(170, 170, 170);
}


/* infogrid */
.infogrid {
  padding: 13em 7em;

  display: flex;
  flex-direction: column;
  gap: 1.5em;

  background: linear-gradient(to bottom, rgb(4, 22, 37), rgb(0, 15, 31));
}

@media screen and (max-width: 800px) {
  .infogrid {
    padding: 5em 2em;
  }
}

.infogrid > h1 {
  font-size: clamp(4rem, 5vw, 6rem);
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.infogrid > span {
  font-size: clamp(1.3rem, 3vw, 1.7rem);
  color: rgba(255, 255, 255, 0.6);
}

.infogrid > .container {
  display: grid;
  gap: 3em;

  margin: 3em 0;
}

@media screen and (max-width: 800px) {
  .infogrid > .container {
    grid-template-columns: 1fr !important;
    height: max-content !important;
  }
}

.infogrid > .container > .item {
  background-repeat: no-repeat !important;
  background-size: 100%;
  background-position: center !important;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  padding: 3em;

  overflow: hidden;

  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

.infogrid > .container > .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  border-radius: 1em;

  transition: background 0.5s;
}

.infogrid > .container > .item > img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 1em;
}

/* footer */
.prefoot {
  padding: 5em;
  padding-bottom: 10em;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
}

.prefoot > h1 {
  font-size: clamp(3rem, 4vw, 4rem);
  text-decoration: underline solid;
}

.prefoot > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: clamp(1.5rem, 3vw, 2.5rem);

  display: flex;
  align-items: center;
  gap: 1em;
  position: relative;
}
