/* file: * */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --accent: #1b5eb6;

  --bg-theme: #000;
  --bg: #000;

  --fg: #fff;
}


* {
  transition:
    color 0.3s,
    background-color 0.3s !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--fg);

  font-family: "Inter", sans-serif;

  padding: 0;
  margin: 0;
}

/* components */
/* .theme_switch {
  position: absolute;
  right: 2vw;
  top: 2vh;

  color: #fff !important;

  font-size: 1.3em;
  cursor: pointer;
} */
