header {
  background: url(../../media/melting.webp);
  margin-bottom: 4em;
}

article {
  position: relative;
  overflow: hidden;
  padding: 8em;
  font-size: clamp(1.6rem, 1.7vw, 2.4rem);
}

@media screen and (max-width: 1000px) {
  article {
    padding: 2.25em;
  }
}

.quote {
  position: absolute;
  font-size: clamp(8rem, 16vw, 24rem);
  color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.quote-left {
  top: 0;
  left: 0;
  transform: translate(-20%, -20%);
}

.quote-right {
  right: 0;
  bottom: 0;
  transform: translate(20%, 20%);
}
