/* body {
  background: url(../../assets/index/melting.webp);
  background-position: center;
  background-size: cover;
  backdrop-filter: brightness(0.3);
  min-height: 100dvh;
} */

header {
  width: 100dvw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;

  background: url(../../assets/index/melting.webp);
  background-position: center;
  background-size: cover;

  position: relative;

  padding: 12em 3em;
}

header::before {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;

  background: rgba(0, 0, 0, 0.7);
}

header > h1 {
  font-size: clamp(5rem, 6vw, 7rem);
  color: rgba(255, 255, 255, 0.9);

  margin: 0;

  z-index: 1;
}

header > span {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  color: rgba(255, 255, 255, 0.8);
  text-align: center;

  margin-bottom: 1.5em;

  z-index: 1;
}

header > a {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;

  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-size: clamp(1rem, 3.5vw, 2rem);
  font-weight: 500;

  cursor: pointer;
  z-index: 1;
}

header > a::after {
  content: "";
  position: absolute;
  bottom: -0.3em;

  background: #fff;

  width: 0;
  height: 2px;

  transition-duration: 0.3s;
}

header > a:hover::after {
  width: 100%;
}

.infogrid {
  padding: 13em 7em;

  display: flex;
  flex-direction: column;
  gap: 2em;

  background: linear-gradient(to bottom, rgb(4, 22, 37), rgb(0, 15, 31));
}

@media screen and (max-width: 800px) {
  .infogrid {
    padding: 5em 2em;
  }
}

.infogrid > h1 {
  font-size: clamp(4rem, 5vw, 6rem);
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.infogrid > span {
  font-size: clamp(1.3rem, 3vw, 1.7rem);
  color: rgba(255, 255, 255, 0.6);
}

.infogrid > .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;

  margin: 3em 0;
}

@media screen and (max-width: 800px) {
  .infogrid > .container {
    grid-template-columns: 1fr;
    height: max-content;
  }
}

.infogrid > .container > .item {
  background-repeat: no-repeat !important;
  background-size: 100%;
  background-position: center !important;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  position: relative;

  padding: 3em;

  overflow: hidden;

  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

.infogrid > .container > .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.6);

  border-radius: 1em;

  transition: background 0.5s;
}

.infogrid > .container > .item > img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 1em;
}

.infogrid > .container *:not(img, i) {
  z-index: 2;
  width: 100%;
  text-align: center;
}

.infogrid > .container > .item > i {
  z-index: 2;

  display: flex;
  justify-content: center;

  padding: 0.5em 1.3em;
  margin-left: auto;
  margin-right: auto;

  border-radius: 9em;

  font-size: clamp(1.5rem, 1.7vw, 1.7rem);
  background: color-mix(
    in srgb,
    rgba(255, 255, 255, 0.3) 30%,
    var(--item-color) 70%
  );
}

.infogrid > .container > .item > h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 600;

  word-wrap: break-word;
}

.infogrid > .container > .item > span {
  font-size: clamp(1.3rem, 3vw, 1.7rem);
  color: rgba(255, 255, 255, 0.6);
}