/* page specific styling (index.html) */

.intro {
  width: 100%;
  height: 100dvh;
}

.intro > video {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.intro > .overlay {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 20%;
  background: linear-gradient(
    to top,
    color-mix(in srgb, var(--accent) 60%, var(--bg-theme) 40%),
    transparent
  );
}

.intro > .text_container {
  position: absolute;
  bottom: 0;

  width: 100%;

  padding: clamp(2em, 5vw, 5em) clamp(2em, 3vw, 5em);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(
    to top,
    color-mix(in srgb, var(--accent) 60%, var(--bg-theme) 40%),
    transparent
  );
}

.intro > .text_container > .title {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.intro > .text_container > .title > span:nth-child(1) {
  font-size: clamp(2.5rem, 6vw, 5rem);
  font-weight: 700;
}

.intro > .text_container > .title > span:nth-child(2) {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 300;
}

.intro > .text_container > .more {
  position: relative;

  display: flex;
  flex-direction: row;
  gap: 1em;

  color: var(--fg);
  text-decoration: none;
  font-size: clamp(1.2rem, 3vw, 2em);
  font-weight: 600;

  cursor: pointer;
}

.intro > .text_container > .more::after {
  content: "";
  position: absolute;
  bottom: -0.3em;

  background: var(--fg);

  width: 0;
  height: 2px;

  transition-duration: 0.3s;
}

.intro > .text_container > .more:hover::after {
  width: 100%;
}

.intro > .copyright {
  position: absolute;
  bottom: 2vh;
  right: 2vw;
}

/* smooth video to page transition */

.overlay:not(.intro > .overlay) {
  position: absolute;

  width: 100%;
  height: 20%;

  z-index: -1;

  background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--accent) 60%, var(--bg-theme) 40%),
    transparent
  );
}
