/* file: index.html */

/* #intro */
.intro {
  width: 100%;
  height: 100dvh;

  scroll-snap-align: start;

  color: #fff !important;
}

.intro > video {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.intro::before {
  content: "";
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.intro > .text_container {
  position: absolute;
  bottom: 0;

  width: 100%;

  padding: 7vh 3vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
}

.intro > .text_container > .title {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;
}

.intro > .text_container > .title > span {
  font-size: clamp(3rem, 7vw, 5rem);
  font-weight: 700;
  align-self: flex-start;
}

.intro > .text_container > .more {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;

  color: #fff;
  text-decoration: none;
  font-size: clamp(1rem, 3.5vw, 2rem);
  font-weight: 500;

  cursor: pointer;
}

.intro > .text_container > .more::after {
  content: "";
  position: absolute;
  bottom: -0.3em;

  background: #fff;

  width: 0;
  height: 2px;

  transition-duration: 0.3s;
}

.intro > .text_container > .more:hover::after {
  width: 100%;
}

.intro > .copyright {
  position: absolute;
  bottom: 2vh;
  right: 2vw;
}

/* #why, #how */

.why {
  background:
    linear-gradient(
      180deg,
      rgba(15, 15, 15, 0.9) 0%,
      rgba(44, 44, 44, 0.7) 100%
    ),
    url(../../assets/index/pollution.webp);
}

.how {
  background:
    linear-gradient(
      135deg,
      rgba(20, 20, 20, 0.95) 0%,
      rgba(75, 30, 0, 0.6) 100%
    ),
    url(../../assets/index/melting.webp);
}

.infogrid {
  padding: 5em 7em;

  display: flex;
  flex-direction: column;
  gap: 2em;
  min-height: 100dvh;

  background-size: cover;
  background-position: center;

  scroll-snap-align: start;
}

@media screen and (max-width: 800px) {
  .infogrid {
    padding: 3em 2em;
  }
}

.infogrid > h1 {
  font-size: clamp(3rem, 4vw, 5rem);
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.infogrid > .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;

  margin: 3em 0;
}

@media screen and (max-width: 800px) {
  .infogrid > .container {
    grid-template-columns: 1fr;
    height: max-content;
  }
}

.infogrid > .container > .item {
  background-repeat: no-repeat !important;
  background-size: 100%;
  background-position: center !important;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3em;
  position: relative;

  padding: 3em;

  overflow: hidden;

  /* border: 0.5px solid rgba(255, 255, 255, 0.3); */
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}

@media screen and (min-width: 800px) {
  .why > .container > .item:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .how > .container > .item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .how > .container > .item:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.infogrid > .container > .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.5);

  border-radius: 1em;

  transition: background 0.5s;
}

.infogrid > .container > .item:hover::after {
  background: rgba(0, 0, 0, 0.7);
}

.infogrid > .container > .item > img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 1em;

  transition: transform 1s cubic-bezier(0.44, 0, 0, 0.905) !important;
}

.infogrid > .container > .item:hover > img {
  transform: scale(1.1);
}

.infogrid > .container > .item > span {
  position: static;
  z-index: 1;
}

.infogrid > .container > .item > span:not(.desc) {
  left: 0.5em;
  top: 0.5em;

  font-size: clamp(2rem, 6vw, 3.5rem);
  font-weight: 600;
}

.infogrid > .container > .item > .desc {
  bottom: 0.5em;
  left: 0.5em;

  font-size: clamp(1.3rem, 3vw, 1.7rem);
  color: rgba(255, 255, 255, 0.6);

  opacity: 0;
  transition: opacity 0.3s ease-in-out !important;
}

.infogrid > .container > .item:hover > .desc {
  opacity: 1;
}

/* @media screen and (max-width: 800px) {
  .infogrid > .container > .item > span:not(.desc) {
    font-size: 1em;
  }
  .infogrid > .container > .item > .desc {
    font-size: 0.7em;
  }
} */
