/* file: index.html */

/* #intro */
.intro {
  width: 100%;
  height: 100dvh;

  color: #fff !important;
}

.intro > video {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.intro > .overlay {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 20%;
  background: linear-gradient(
    to top,
    color-mix(in srgb, var(--accent) 60%, var(--bg-theme) 40%),
    transparent
  );
}

.intro > .text_container {
  position: absolute;
  bottom: 0;

  width: 100%;

  padding: 7vh 3vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
}

.intro > .text_container > .title {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;
}

.intro > .text_container > .title > span {
  font-size: 5em;
  font-weight: 700;
  align-self: flex-start;
}

.intro > .text_container > .more {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;

  color: #fff;
  text-decoration: none;
  font-size: 2em;
  font-weight: 500;

  cursor: pointer;
}

.intro > .text_container > .more::after {
  content: "";
  position: absolute;
  bottom: -0.3em;

  background: #fff;

  width: 0;
  height: 2px;

  transition-duration: 0.3s;
}

.intro > .text_container > .more:hover::after {
  width: 100%;
}

.intro > .copyright {
  position: absolute;
  bottom: 2vh;
  right: 2vw;
}

/* #about */
.about {
  height: 100dvh;

  display: flex;
  flex-direction: column;
  gap: 2em;
}

.about > .what {
  display: flex;
  flex-direction: column;
  gap: 1em;

  padding: 2vh 5vw;
}

.about > .what > span:nth-child(1) {
  font-size: 1.7em;
  font-weight: 600;
  color: var(--accent);
}

.about > .what > span:nth-child(2) {
  font-size: 7em;
  font-weight: 700;
  color: var(--fg);
}